* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: sans-serif;

}


button {
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    background: #333;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}